<%= form_with(model: crawler, local: true) do |form| %>
  <% if crawler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crawler.errors.count, "error") %> prohibited this crawler from being saved:</h2>

      <ul>
        <% crawler.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
